
#hero-area .contents h1 {
    font-size: 2.8em;

}

#hero-area .contents p {
    font-size: 1.7em;

}

.top-nav-fixed {
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: #fff !important;
}


#hero-area:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: .5;
  display: inline-block;

    /*
    background: rgba(110, 100, 0, 0.2) url("http://www.transparenttextures.com/patterns/random-grey-variations.png") 0 0 repeat;
    background: rgba(110, 100, 0, 0.2) url("http://www.transparenttextures.com/patterns/noisy-grid.png") 0 0 repeat;
    */

    background: rgba(110, 100, 0, 0.2) url("http://www.transparenttextures.com/patterns/3px-tile.png") 0 0 repeat;


}

.project-section  {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    min-height: 800px;
}

#project-info-box {
    /*
    -moz-box-shadow: 0 0 25px 20px #fffff;
    -webkit-box-shadow: 0 0 25px 20px #ffffff;
    box-shadow: 0 0 25px 20px #ffffff;
    */
    background-color:white;
    padding: 40px;
}

#project-info-box h1 {
    text-align:center;
}

#project-image-bg {

    min-height:15em;
}

.tag {
    color: #fff !important;
    background: #61D2B4;
    padding: 0 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 40px;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }


#hero-area {
 background: url(../img/5558581585_ae1bbc86f9_o.jpg) fixed no-repeat;
  background-size: 100%;

}